@media only screen and (min-width: 37.5em) {

    nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
    
    nav ul li { float: left; }
    
    nav ul li a { 
        display: block;
        padding: 8px;
        background-color: #dddddd;
    }
    
    nav button { display:none; }  
    
    section.forecast { display: contents; }  

  }