* { box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: sans-serif;  
}

header, nav, main, footer { 
  max-width: 1280px;
}

header {}
header h1 {}
header img { max-width: 25%; }
header .subheading {}

nav {}
nav button {}
nav ul {}
nav ul li {}
nav ul li a {}
nav ul li.active a {}
nav ul li a:hover {}

main {}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { max-width:96%; }

main article { margin: 0 0 .2rem 2%; width: 96%; }
main article img {
    max-width: 90%;
}

.current img { 
    max-width: 25%;
}

section.forecast { display: none; }

footer {}